@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee><h1 class="display-4">Marcos Vinicius</h1></marquee>
    <p>Aprender sobre <a href="https://docs.microsoft.com/aspnet/core">construir aplicativos da web com ASP.NET Core</a>.</p>
</div>
<div class="figure">
    <embed src="https://www.youtube.com/embed/ulygXmbOqUw" allowfullscreen="true" width="1163" height="490">
</div>
